/*
56aef6
1583da
053367

fefaf9
fefbf6
fffcf9

feefc6
fdd799
f9cb8f
*/

$header_color: #56aef6;
$block_color: #c8ffff;

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: monospace;
  color: #000000;
  background-color: #fefaf9;
  scroll-behavior: smooth;
}

.header {
  display: flex;

  margin-bottom: 30px;
  padding: 10px 5%;

  align-items: center;
  justify-content: space-between;

  background-color: $header_color;
}

.header_logo {
  a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
  }

  a:hover {
    text-decoration: underline;
  }
}

.header_links {
  display: flex;
  list-style-type: none;
}

.header_link {
  margin-left: 15px;
  a {
  }
}

.header_img {
  width: 35px;
  height: 35px;

  //box-shadow: 1px 1px 1px 1px white;
  /*&:first-child {
    background: url(./img/instagram.ico) right bottom no-repeat;
    padding: 0 12px 14px 0;
  }*/
}

.card {
  display: flex;
  width: 100%;
  padding: 10px 5%;
}

.card_wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  //background-color: $block_color;
}

.card_info {
  display: flex;
  flex-direction: column;
  width: 49%;

  align-items: center;
  justify-content: center;
  justify-items: center;
}

.card_title {
  margin: 20px 0;
  font-size: 35px;
}

.card_list {
  list-style-type: "☀️";
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.card_item {
  font-size: 20px;
  padding-left: 10px;
}

.card_foto {
  width: 40%;
  img {
    width: 100%;

    border-radius: 5px;
  }
}

.greeting {
  display: flex;
  width: 100%;
  padding: 10px 5%;
  margin: 20px 0;
  align-items: center;
  justify-content: center;
}

.greeting_wrapper {
  width: 60%;
  display: flex;
  flex-direction: column;
  border: 1px solid $header_color;
  border-radius: 5px;
  padding: 30px 20px;
  font-size: 20px;
  background-color: $header_color;
  color: white;
  p {
    margin: 5px 0;
  }
}

.assistance {
  display: flex;
  width: 100%;
  padding: 10px 5%;
  margin: 20px 0;
  align-items: center;
  justify-content: center;
}

.assistance_wrapper {
  width: 60%;
  display: flex;
  flex-direction: column;

  border: 3px solid $header_color;
  border-radius: 5px;
  padding: 30px 20px;
  font-size: 20px;
}

.assistance_title {
  margin-bottom: 15px;
}

.assistance_list {
  list-style-type: "☀️";
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.assistance_item {
  padding-left: 10px;
}

.important {
  padding: 10px 5%;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 30px 0;

  color: $header_color;
}

.features {
  display: flex;
  width: 100%;
  padding: 10px 5%;
  margin: 20px 0;
  align-items: center;
  justify-content: center;
}

.features_wrapper {
  width: 60%;
  display: flex;
  flex-direction: column;
  border: 1px solid $header_color;
  border-radius: 5px;
  padding: 30px 20px;
  font-size: 20px;
  background-color: $header_color;
  color: white;
  p {
    margin: 5px 0;
  }
}

.worth {
  padding: 10px 5%;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 30px 0;

  color: $header_color;
}

.working {
  padding: 10px 5%;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 30px 0;
}

.invitation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.invitation_foto {
  width: 310px;
  height: 310px;
  img {
    width: 100%;
    border-radius: 100%;
  }
}

.invitation_title {
  font-size: 20px;
  margin: 20px 0;
}

.qr_code {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  margin-bottom: 30px;
  img {
    width: 310px;
    border: 1px solid $header_color;
    border-radius: 18px;
  }
}

.footer {
  display: flex;

  margin-bottom: 30px;
  padding: 20px 5%;

  align-items: center;
  justify-content: start;

  background-color: $header_color;
}

.footer_title {
  color: white;
  font-size: 20px;
}

.footer_logo {
  a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
  }

  a:hover {
    text-decoration: underline;
  }
}
