@charset "UTF-8";
/*
56aef6
1583da
053367

fefaf9
fefbf6
fffcf9

feefc6
fdd799
f9cb8f
*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: monospace;
  color: #000000;
  background-color: #fefaf9;
  scroll-behavior: smooth;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  padding: 10px 5%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #56aef6;
}

.header_logo a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-size: 20px;
}

.header_logo a:hover {
  text-decoration: underline;
}

.header_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.header_link {
  margin-left: 15px;
}

.header_img {
  width: 35px;
  height: 35px;
  /*&:first-child {
    background: url(./img/instagram.ico) right bottom no-repeat;
    padding: 0 12px 14px 0;
  }*/
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 10px 5%;
}

.card_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 49%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
}

.card_title {
  margin: 20px 0;
  font-size: 35px;
}

.card_list {
  list-style-type: "☀️";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 15px;
}

.card_item {
  font-size: 20px;
  padding-left: 10px;
  margin: 10px 0;
}

.card_foto {
  width: 40%;
}

.card_foto img {
  width: 100%;
  border-radius: 5px;
}

.greeting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 10px 5%;
  margin: 20px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.greeting_wrapper {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #56aef6;
  border-radius: 5px;
  padding: 30px 20px;
  font-size: 20px;
  background-color: #56aef6;
  color: white;
  text-align: justify;
}

.greeting_wrapper p {
  margin: 5px 0;
  text-align: justify;
}

.assistance {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 10px 5%;
  margin: 20px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.assistance_wrapper {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 3px solid #56aef6;
  border-radius: 5px;
  padding: 30px 20px;
  font-size: 20px;
}

.assistance_title {
  margin-bottom: 15px;
}

.assistance_list {
  list-style-type: "☀️";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 15px;
}

.assistance_item {
  padding-left: 10px;
  margin: 10px 0;
}

.important {
  padding: 10px 5%;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 30px 0;
  color: #56aef6;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 10px 5%;
  margin: 20px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.features_wrapper {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #56aef6;
  border-radius: 5px;
  padding: 30px 20px;
  font-size: 20px;
  background-color: #56aef6;
  color: white;
}

.features_wrapper p {
  margin: 5px 0;
  text-align: justify;
}

.worth {
  padding: 10px 5%;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 30px 0;
  color: #56aef6;
}

.working {
  padding: 10px 5%;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 30px 0;
}

.invitation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.invitation_foto {
  width: 310px;
  height: 310px;
}

.invitation_foto img {
  width: 100%;
  border-radius: 100%;
}

.invitation_title {
  font-size: 20px;
  margin: 20px 0;
}

.qr_code {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.qr_code img {
  width: 310px;
  border: 1px solid #56aef6;
  border-radius: 18px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  padding: 20px 5%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  background-color: #56aef6;
}

.footer_title {
  color: white;
  font-size: 20px;
}

.footer_logo a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-size: 20px;
}

.footer_logo a:hover {
  text-decoration: underline;
}

@media (max-width: 1180px) {
  .greeting_wrapper {
    width: 70%;
  }
  .assistance_wrapper {
    width: 70%;
  }
  .features_wrapper {
    width: 70%;
  }
}

@media (max-width: 900px) {
  .card_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card_info {
    width: 90%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .card_foto {
    width: 50%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .card_title {
    text-align: center;
  }
  .greeting_wrapper {
    width: 80%;
  }
  .assistance_wrapper {
    width: 80%;
  }
  .features_wrapper {
    width: 80%;
  }
}

@media (max-width: 650px) {
  .card_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card_info {
    width: 90%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .card_foto {
    width: 70%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .greeting_wrapper {
    width: 90%;
  }
  .assistance_wrapper {
    width: 90%;
  }
  .features_wrapper {
    width: 90%;
  }
}

@media (max-width: 500px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */